/node_modules
/backup
/expert_advisers/Logs
/binance_Engine/information/
/binance_Engine/tests_Ivan/
/binance_Engine/

/expert_advisers/tests.js
/expert_advisers/Alex/tradeAlex3.6.js
/expert_advisers/Alex/tradeAlex1.4.js

React Node.code-workspace