/node_modules
/backup
/expert_advisers/Logs
/binance_Engine/information/
/binance_Engine/tests_Ivan/
/binance_Engine/

/expert_advisers/tests.js
/expert_advisers/Alex/tradeFunTemple/

/API/telegram2

React Node.code-workspace